@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui"{
  themes : light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: purple;
  --color-secondary: teal;
}


body {
  font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.carousel .control-dots .dot {
  box-shadow: none !important;
  opacity: 0.5;
}

.carousel .control-dots .dot.selected {
  opacity: 1;
}